@model EbookList.Models.Book
@{
    ViewData["Title"] = "Delete";
}
<br />

<h3>Delete Ebook</h3>
<hr />

<form asp-action="Delete">
    <div class="container">
        <input asp-for="Id" hidden/>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-1">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Name" disabled class="form-control" />
                </div>
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-1">
                    <label asp-for="Author"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Author" disabled class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-1">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Price" disabled class="form-control" />
                </div>
               
            </div>

        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger" />
            <a asp-action="Index" class="btn btn-sm btn-outline-success">Back to List</a>
        </div>
    </div>

</form>